{{ {"hostname": unifi_vm_allocation.name, "gateway": unifi_vm_allocation.gateway, "tunnel_address": unifi_vm_allocation.tunnel_address, "recovery_address": unifi_vm_allocation.recovery_address} | to_nice_json }}
