[defaults]
ask_vault_pass = True
inventory = inventory.private.yml
collections_path = ./.collections
roles_path = ./roles
action_plugins = ./plugins/action
private_role_vars = True
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
inject_facts_as_vars = False

[persistent_connection]
connect_timeout = 20
command_timeout = 60
network_cli_retries = 1
log_messages = False

[libssh_connection]
host_key_auto_add = False
look_for_keys = False
